
<div  ng-class= "panel">
    <div ng-show="!showConfig" class="panel-body  productPannel" ng-controller="productController">
        <div ng-if="showVoice" ng-repeat="prodDesc in voiceProductArray">
            <button class="box" ng-click="viewConfig()">{{prodDesc.productName}}</button>
        </div>
        
        <div ng-if="showVideo" ng-repeat="prodDesc in videoProductArray">
            <button class="box">{{prodDesc.productName}}</button>
        </div>
        <div ng-if="showBroadband" ng-repeat="prodDesc in broadbandProductArray">
            <button class="box" ng-click="gotoState()">{{prodDesc.productName}}</button>
        </div>
    </div>

</div>
