<div class="packagePannel">
<div ng-class= '"panel panel-primary"'>
    <div class="panel-body packagePannel alignContent" ng-controller="packageController">
        <div class="row">
            <button class="btn btn-primary custom" ng-click="showBroadbandFunction()">{{Broadband}}</button><br/><br/>
        </div>
        <div class="row">
            <button class="btn btn-primary custom" ng-click="">{{hvp}}</button><br/><br/>
        </div>
        <div class="row">
            <button class="btn btn-primary custom" ng-click="showVideoFunction()">{{video}}</button><br/><br/>
        </div>
        <div class="row">
            <button class="btn btn-primary custom" ng-click="showVoiceFunction()">{{voice}}</button><br/><br/>
        </div>
    </div>
</div>
 </div>
